* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: azure;
}

#board {
    background-image: url("./images/flappybirdbg.png");
    cursor: default;
}